# =====================
# Global
# =====================
node_modules/
*.log

# =====================
# Backend (Node + SQLite)
# =====================
backend/node_modules/
backend/*.sqlite
backend/*.sqlite3
backend/*.db
backend/dist/

# =====================
# Frontend (Next.js)
# =====================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/
frontend/.vercel
frontend/yarn.lock



# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
~$*

# =====================
# Logs
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.pid
*.seed
*.pid.lock

# =====================
# Temp files
# =====================
tmp/
temp/
*.tmp
*.temp